*{
  font-family: sans-serif;
  color:#4a4a4a;
}
.App {
  background-color: whitesmoke;
  height: 100%;
}

#projectTitle{
  display: flex;
  justify-content: space-between ;
  align-items: center;
  margin: 0 45px;
  padding-top: 30px;
}

.sectionCardContainer{
  margin: 40px;
}

.card{
  padding: 20px 40px;
}

.scoring{
  font-size: 11pt;
  margin-left: 25px;
  letter-spacing: 1.5px;
}

p > .scoring{
  color: rgb(178, 177, 177);
}

.question{
  color: slategrey
}

.likertSelect{
  width: 100%;
}